// bower:scss
// endbower



$c-y-base: #faf9dc;
$c-y-highlight: #ebe8c5;
$c-b-base: #12397b;

@import "menu.module";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-size: 16px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  clear: both;
  background-color: $c-y-base;
}


#header {
  position: relative;
  padding: 1em;
  z-index: 10;
  top: 0;
}

.logo, .logo__link {
  margin: 0;
  padding: 0;
  display: block;
  width: 211px + 16px;
  height: 26px + 16px;
}

.logo {
  background: url('../images/mj_logo.svg') no-repeat center center;
  float: left;
  &__link {
    text-decoration: none;
    text-indent: -9999px;
  }
}

.canvas {
  position: relative;
  &--frame {
    top: 50%;
    height: calc(100vh - 20em);
    margin-top: calc((100vh - 20em)/ -2);
  }
}

#frame {
  top: 0;
  left: 0;
  position: absolute;
}

#frame {
  right: 0;
  z-index: 1;
}

#frame, #frame__svg {
  height: 100%;
  width: auto;
  margin: 0 auto
}

#frame__svg {
    display: block;
}

#render {
  width: 100%;
  height: calc(100vh - 280px);
  max-width: 53.75em;
  box-sizing: border-box;
  padding: 0 1.25em;
  position: absolute;
  top: 11.25em;
  bottom: 7.5em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

a {
  color: inherit;
    text-decoration: none;
    outline: 0;
    border: 0;
}

#project {
  height: inherit;
  width: 100%;



}

.parallax {
  height: inherit;
  width: 100%;
  &--slide {
    //display:none;
  }
  &--title {
    position: absolute;
    left: 4.375em;
    top: 45%;
    max-width: 25em;
    z-index: 2;
    h1 {
      font-size: 2em;
      font-family: avenirnext-bold,Helvetica,sans-serif;
      font-weight: 700;
      letter-spacing: .1875em;
      text-transform: uppercase;
      color: #2e2e69;
      line-height: 1;
      margin: 0;
      padding: 0
    }
  }
  &--hero {
    min-width: 17.5em;
    min-height: 21.25em;
    width: 19vw;
    height: 45vh;
    position: absolute;
    bottom: 15%;
    right: 5%;
  }
  &--picture {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 70%;
    height: 138%;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../images/guy.png');
  }

  &--number {
    position: absolute;
    z-index: 3;
    left: 10.25em;
    bottom: -0.4375em;
    p {
      font-size: 5em;
      font-family: avenirnext-bold,Helvetica,sans-serif;
      font-weight: 700;
      letter-spacing: .1875em;
      text-transform: uppercase;
      color: #2e2e69;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
  }
}


#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: right;
  .social-net,
  .footer__copy {
    padding-right: 1em;
  }

  .social-net {
    color: #4c461d;
    > a {
      display: inline-block;
      vertical-align: middle;
      padding-left: 0.5em;
    }
  }

  .footer__copy {
    color: #cbc496;
    font-family: Helvetica,sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 0.15em;
  }

}
